@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Chicle&display=swap");

.banner {
  width: 100%;
  height: 650px;
  background-image: url(../../../public/images/homepage/banner-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.banner--topspace {
  height: 20%;
}

.banner--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  position: relative;
}

.content--bg-bn {
  height: 100%;
}

.banner--content-bg {
  width: 800px;
}

.banner-content-msg-action {
  position: absolute;
  top: 60px;
  z-index: 1;
}

.banner-content-bird-img img {
  width: 80px;
}

.banner-content-msg {
  margin-top: 30px;
  line-height: 70px;
}

.banner-msg-line-1 {
  font-size: 40px;
  font-weight: 800;
  color: #09303a;
}

.banner-msg-line-2 {
  font-size: 68px;
  font-weight: 800;
  color: #09303a;
}

.banner-msg-line-3 {
  font-size: 40px;
  font-weight: 800;
  color: #09303a;
}

.img-btn-layer img {
  width: 240px;
}

.banner-content-action {
  position: relative;
}

.img-btn-layer {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.learnwhy-banner-btn {
  position: absolute;
  z-index: 2;
  left: 109px;
  top: 20px;
}

.learnwhy-banner-btn button {
  border: 0px;
  background-color: #e74b25;
  color: #fff;
  width: 96px;
  height: 35px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
}

.org-msg {
  background-color: #fff;
  width: 100%;
  height: 450px;
  padding: 30px;
}

.org-msg .h1-format {
  color: #09303a;
  font-family: "Chicle", serif;
  font-size: 120px;
  text-align: right;
}

.org-msg .h4-format {
  font-size: 30px;
  text-align: left;
  color: #09303a;
  font-weight: 700;
  padding-top: 100px;
}

.org-msg .h6-format {
  padding-top: 10px;
  text-align: left;
  font-size: 16px;
}

.featured-games-section {
  width: 100%;
  height: 650px;
  background-color: #f3f1ea;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.featured-games-title {
  height: 140px;
  font-size: 60px;
  color: #09303a;
  font-family: "Chicle", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.featured-locations-section {
  width: 100%;
  height: 650px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.featured-locations-title {
  height: 140px;
  font-size: 60px;
  color: #09303a;
  font-family: "Chicle", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.news-section {
  width: 100%;
  height: 650px;
  background-color: #f3f1ea;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-title {
  height: 140px;
  font-size: 60px;
  color: #09303a;
  font-family: "Chicle", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feedback-section {
  width: 100%;
  height: 550px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.feedback-title {
  height: 140px;
  font-size: 60px;
  color: #09303a;
  font-family: "Chicle", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel-item {
  width: 100%;
  height: 360px;
  background-color: #fff;
}

.carousel-inner {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.carousel-control-prev-icon {
  background-color: #e74b25 !important;
}

.fa-chevron-left,
.fa-chevron-right {
  color: #09303a;
  font-size: 36px;
}

.carousel-ctn {
  width: 100%;
  height: 100%;
}

.feedback-profile-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feedback-profile-img img {
  border-radius: 50%;
  width: 180px;
}

.feedback-profile-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feedback-profile-content div {
  padding: 5px 0px;
}

.feedback-profile-name {
  text-align: left;
  font-size: 30px;
  font-weight: 700;
}

.feedback-rate {
  text-align: left;
  color: #ffe97f;
  font-size: 14px;
}

.feedback-rate i {
  padding: 0px 3px;
}

.feedback-description {
  text-align: left;
  font-size: 18px;
  line-height: 30px;
}

.feedback-inline {
  height: 350px;
}

.contact-us-section {
  background-color: #f3f1ea;
  height: 1050px;
}

.contact-us-line-1 {
  height: 270px;
  position: relative;
}

@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap");

.contact-us-line-1 div {
  position: absolute;
  font-family: "Finger Paint", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 220px;
  color: #09303a;
  top: 170px;
  line-height: 0px;
}

.contact-us--subtext {
  text-align: left;
  font-size: 40px;
  font-weight: 700;
  color: #09303a;
}

.contact-us--description {
  text-align: left;
  font-size: 24px;
}

.contact-us--img-infor {
  position: relative;
}

.contact-us--img-infor img {
  width: 260px;
}

.contact-us--medium_size-input input {
  width: 320px;
  height: 45px;
  border: 2px solid #ededed;
  border-radius: 5px;
}

.contact-us--medium_size-input input:placeholder-shown {
  padding-left: 20px;
}

.contact-us--medium_size-input {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.contact-us--textarea {
  padding-top: 20px;
  text-align: left;
}

.contact-us--textarea textarea {
  width: 705px;
  border: 2px solid #ededed;
  border-radius: 5px;
  height: 200px;
}

.contact-us--textarea textarea:placeholder-shown {
  padding: 15px 20px;
}

.contact-us--information {
  width: 240px;
}

.contact-us--information span {
  display: block;
  text-align: left;
}

.contact-us--information-text-h1 {
  font-family: "Catamaran", sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #09303a;
}

.contact-us--information-text {
  font-size: 20px;
}

.contact-us--information-text-title {
  font-weight: 700;
  font-size: 20px;
}

.contact-us--information-text-highlight {
  font-size: 20px;
  color: #e74b25;
}

.contact-us--information {
  position: absolute;
  left: 150px;
  top: 500px;
}

.contact-us--submit-btn {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-top: 50px;
}

.contact-us--submit-btn button {
  border: none;
  background-color: #e74b25;
  color: #fff;
  width: 250px;
  height: 50px;
  border-radius: 5px;
  font-family: "Chicle", serif;
  font-size: 18px;
}
