.banner {
  width: 100%;
  height: 550px;
  background-image: url(../../../public/images/homepage/banner-bg.jpg);
  background-position: center;
}

.banner--topspace {
  height: 20%;
}

.banner--content {
  height: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  position: relative;
}

.content--bg-bn {
  height: 100%;
}

.banner--content-bg {
  width: 55%;
}

.banner-content-msg-action {
  position: absolute;
  top: 10px;
  z-index: 1;
}

.banner-content-bird-img img {
  width: 80px;
}

.banner-content-msg {
  margin-top: 30px;
  line-height: 70px;
}

.msg-line-1 {
  font-size: 40px;
  font-weight: 800;
  color: #09303a;
}

.msg-line-2 {
  font-size: 68px;
  font-weight: 800;
  color: #09303a;
}

.msg-line-3 {
  font-size: 40px;
  font-weight: 800;
  color: #09303a;
}

.img-btn-layer img {
  width: 240px;
}

.banner-content-action {
  position: relative;
}

.img-btn-layer {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.learnwhy-banner-btn {
  position: absolute;
  z-index: 2;
  left: 109px;
  top: 20px;
}

.learnwhy-banner-btn button {
  border: 0px;
  background-color: #e74b25;
  color: #fff;
  width: 96px;
  height: 35px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
}
